<h1>Booking Done</h1>

<h2>Flight information</h2>
<table>
	<thead>
		<tr>
			<td>Departure</td>
			<td>Arrival</td>
			<td>Date</td>
			<td>Time</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @booking.flight.departure_airport.name %></td>
			<td><%= @booking.flight.arrival_airport.name %></td>
			<td><%= @booking.flight.date.strftime("%a, %b %d  %Y") %></td>
			<td><%= @booking.flight.date.strftime("%H:%M") %></td>
		</tr>
	</tbody>
</table>