@import "bootstrap-sprockets";
@import "bootstrap";

body {
background-image: url("wallpaper");  }

/* NAVBAR */

	.navbar-brand-main {
	    width: 160px;
	    display: inline-block;
	}

	.navbar-brand { 

	    display: inline-block;
	    text-align: center;
	    font-variant: small-caps; 
	    font-size: small;
	    height: 0px;
	    line-height: 1.1;
	    height: 25px; 
	    position: relative;
	    bottom: 4px;
	}

	.navbar-brand img { 
	    height: 25px; 
	}

/* SALOFLIGHTS BRAND */

	body { padding-top: 60px; }

	.brand h1, h2{ 
		font-variant: small-caps;
		font-family: "Futura-CondensedExtraBold", Futura, sans-serif; 
		font-stretch: condensed;
		font-weight: 800;
		height: 40px;
	}
	.brand h1 { font-size: 4em;}

	.brand h2 { font-size: 100%; }

	.brand { 
		float: right; 
		width: 300px;
		display: block-inline;
		position: fixed;
		right: 10px;
	}

/* MAIN LAYOUT BIG THINGS */

	.jumbotron { 
		width: 400px; 
		background: rgba(238,238,238,0.7);
		margin-left:120px;
	}

	.content {
		margin-top: 90px;
		padding-top: 10px;
	}

	.search {	width: 150px; }

	.flight-nav { 
		width: 120px; 
		padding: 0;
		position: fixed;
	}

/* TABLES */
	th,td { text-align: center; vertical-align: center; }

	.passengers { width: auto; display: inline; }
	.book-now { margin-top: 10px; width: 100%; display: block; }

	.btn a { color: white; }

	.airports { width: 80px; margin: 2px; }

	ul { list-style-type: none; }

	.alert { 
		width: auto; 
		margin: 0;
		position: absolute;
		top: 80px;
		left: 30px;
	}
